<div class="scf scf-gamification" data-component-id="{{id}}" data-scf-component="social/samples/components/gamification">

	<br/>
    Badges:
    {{#each badges}}
        <img src = "{{this}}" />
    {{/each}}
	<br/>
    Score: {{score}}

</div>
